In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import os
from tensorflow.keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv('charity_data.csv')
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop columns.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [3]:
# Look at APPLICATION_TYPE value counts for binning
type_count = application_df.value_counts('APPLICATION_TYPE')

In [4]:
# Determine which values to replace
replace_application = list(type_count[type_count< 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df.value_counts('CLASSIFICATION')

In [6]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_count[class_count< 1880].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [7]:
# Look at income amounts
application_df.INCOME_AMT.value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [8]:
# Replace income amounts to positive or zero.
application_df.INCOME_AMT = application_df.INCOME_AMT.replace(['25000-99999',
                                                                   '100000-499999',
                                                                   '1M-5M','1-9999',
                                                                   '10000-24999',
                                                                   '10M-50M',
                                                                   '5M-10M',
                                                                   '50M+'],"+")

# Check replacements
application_df.INCOME_AMT.value_counts()

0    24388
+     9911
Name: INCOME_AMT, dtype: int64

In [9]:
# Generate  categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [10]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_+,INCOME_AMT_0,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

In [11]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

C:\Users\heidi\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_+,INCOME_AMT_0,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

C:\Users\heidi\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 200
hidden_nodes_layer2 = 100
hidden_nodes_layer3 = 50

new_nn = tf.keras.models.Sequential()

# First hidden layer
new_nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
new_nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
new_nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
new_nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
new_nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 200)               7400

 dense_1 (Dense)             (None, 100)               20100

 dense_2 (Dense)             (None, 50)                5050

 dense_3 (Dense)             (None, 1)                 51

=================================================================
Total params: 32,601
Trainable params: 32,601
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
new_nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [17]:
# Create a callback that saves the model's weights.
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq= 4020)

In [18]:
# Train the model
fit_model = new_nn.fit(X_train,y_train,epochs = 25)

Epoch 1/25
804/804 [==============================] - 2s 2ms/step - loss: 35738.7500 - accuracy: 0.4971
Epoch 2/25
804/804 [==============================] - 2s 2ms/step - loss: 6041.8359 - accuracy: 0.4927
Epoch 3/25
804/804 [==============================] - 1s 2ms/step - loss: 1.3621 - accuracy: 0.5332
Epoch 4/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6924 - accuracy: 0.5338
Epoch 5/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 6/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 7/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 8/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 9/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 10/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 11/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 12/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 13/25
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 14/25
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 15/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 16/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 17/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 18/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 19/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 20/25
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 21/25
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 22/25
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 23/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 24/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 25/25
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = new_nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6879 - accuracy: 0.5291 - 470ms/epoch - 2ms/step
Loss: 0.6878510117530823, Accuracy: 0.5290961861610413

In [20]:
# Export model to HDF5 file
new_nn.save("AlphabetSoupCharity_Optimization.h5")